body {
    margin: 0px;
    padding: 0px;
    
    --tt-black-green : #263425;
    --tt-green : #2A7A56;
    --tt-brown : #DE7F28;
    --tt-orange : #FFC700;
    --tt-basi : #F4EDDD;

    background-color: var(--tt-basi);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1 {
    font-family: 'Roboto';
    color: var(--tt-black-green);
    margin: 0px;
}

#title {
    margin-top: 65px;
}

#score-board-container {
    display: flex;
    flex-direction: row;
    margin-top: 41px;
}
.div-ball {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.non-visible {
    visibility: hidden;
}

.orange-ball {
    background-color: var(--tt-orange);
    margin-right: 11px;
}

.bold-font {
    font-weight: bold;
}

.font-size48 {
    font-size: 48px;
}

.font-size60 {
    font-size: 60px;
}

#brown-turn {
    margin-top: 6px;
    background-color: var(--tt-brown);
}

#green-turn {
    margin-top: 6px;
    background-color: var(--tt-green);
}

#brown-team-score-container {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#green-team-score-container {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-btn-container {
    position: absolute;
    right: -50%;
    top: 0px;
}

#game-board {
    margin-top: 68px;
    width: 500px;
    height: 500px;

    position: relative;
}

#game-btn-container {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    border-style: none;
    background-color: var(--tt-basi);
    cursor: pointer;
    margin-bottom: 37px;
}

button > p {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

#copyright-text {
    margin-top: 68px;
    font-size: 12px;
}

.board-line {
    position: absolute;
    border: 2px solid var(--tt-black-green); 
    background-color: var(--tt-black-green);
}

.vertical-line  {
    width: 0px;
    height: 496px;
}

.board-line:nth-child(1) { 
    top: 0px;
    left: 167px;
}
.board-line:nth-child(2) { 
    top: 0px;
    right: 167px;
}

.horizontal-line {
    width: 496px;
    height: 0px;
}

.board-line:nth-child(3) { 
    top: 167px;
    left: 0px;
}
.board-line:nth-child(4) { 
    bottom: 167px;
    left: 0px;
}

.board-horizontal {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: calc(500px / 3);
}

.pressable-board {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(500px / 3);
    height: calc(500px / 3);
}

.inner-circle {
    width: 80px;
    height: 80px;
    background-color: var(--tt-basi);
    border-radius: 80px;
}

.outer-circle {
    width: 100px;
    height: 100px;
    background-color: var(--tt-brown);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
}

.x-container {
    width: 100px;
    height: 100px;
    position: relative;
}

.x-left {
    position: absolute;
    top: 50px;
    left: -17.5px;
    width: 125px;
    height: 0px;
    transform: rotate(-45deg);
    border: 5px solid var(--tt-green);
    border-radius: 5px;
    background-color: var(--tt-green);
}

.x-right {
    position: absolute;
    top: 50px;
    left: -17.5px;
    width: 125px;
    height: 0px;
    transform: rotate(45deg);
    border: 5px solid var(--tt-green);
    border-radius: 5px;
    background-color: var(--tt-green);
}