body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;

    --gmarket-dark-blue: #1d62ca;
    --gmarket-blue: #327FF5;
    --gmarket-white: #FFFFFF;
    --gmarket-black: #000000;
    --gmarket-dark-green: #3caf28;
    --gmarket-green: #00c01e;
    --gmarket-white-gray: #DDDDDD;
    --gmarket-dark-gray: #777777;
    --gmarket-gold: #A68354;
    --gmarket-dark-red: #c73634;
    --gmarket-red: #e04848;
    --gmarket-mint: #52b5a4;
    --gmarket-orange: #f09236;
    --gmarket-yellow: #ffd13a;
    --gmarket-navy: #3d3d6f;

    /* #81c348 #e14a4f #2d8ce6 #81c348 #e0454a #3d3d73*/
}

@font-face { 
    font-family: "GmarketSansBold";
    src: url("font/GmarketSansBold.otf");
}

@font-face { 
    font-family: "GmarketSansLight";
    src: url("font/GmarketSansLight.otf");
}

@font-face { 
    font-family: "GmarketSansMedium";
    src: url("font/GmarketSansMedium.otf");
}

@font-face { 
    font-family: "NotoSansLight";
    src: url("font/NotoSansKR-Light.otf");
}

@font-face { 
    font-family: "NotoSansRegular";
    src: url("font/NotoSansKR-Regular.otf");
}

@font-face { 
    font-family: "NotoSansBold";
    src: url("font/NotoSansKR-Bold.otf");
}

h1 {
    font-family: "GmarketSansMedium";
}

header {
    margin-top: 6px;
    width: 1214px;
    height: 100px;
    display: flex;
    align-items: center;
}

section {
    width: 1214px;
    display: flex;
    align-items: center;
}

#logo-image {
    margin-left: -41px;
    width: 240px;  
    object-fit: cover;
}

header > div {
    margin-top: 17px;
}

#header_search {
    margin-left: -1.5px;
    width: 549px;
    height: 44px;
    border: 2px solid var(--gmarket-blue);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#header_search > input {
    width: 440px;
    height: 25px;
    background-color: var(--gmarket-white);;
    border: none;

    font-size: 16px;
}

#header_search > input:focus {
    outline: none;
}

#header_search > img {
    margin-top: -2px;
    margin-left: -3px;
    width: 22px;
    height: 22px;
}

#header_advertisement {
    margin-left: 20px;
    width: 200px;
    height: 60px;
}

#header_advertisement > img {
    width: 200px;
    height: 60px;
}

#header_nav_container {
    margin-left: 5px;
    width: 176px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_nav_container > img {
    width: 40px;
    height: 40px;
    margin-left: 33px;
}

#top-nav-container {
    margin-top: 6px;
    height: 60px;
}

#all-category-btn {
    width: 219px;
    height: 50px;

    display: flex;
    align-items: center;
    background-color: var(--gmarket-dark-green);
}

#all-category-btn > img {
    width: 25px;
    height: 25px;
    margin-left: 23px;

}

#all-category-text {
    margin-left: 12px;
    display: table-cell;
    line-height: 40px;
    margin-bottom: 20px;

    vertical-align: middle;
    font-family: "NotoSansBold";
    font-size: 16px;
    color: var(--gmarket-white);
}

#top-text-nav-container {
    display: flex;
    align-items: center;
}

#top-text-nav-container > a {
    font-size: 15px;
    margin-left: 22px;
    font-family: -apple-system, "NotoSansRegular";

    text-decoration: none;
}

.top-black{
    color: var(--gmarket-black);
}

.top-gray{
    color: var(--gmarket-dark-gray);
}

.top-gold{
    color: var(--gmarket-gold);
}

a:visited.top-black {
    color: var(--gmarket-black);
}

a:visited.top-gold {
    color: var(--gmarket-gold);
}

a:visited.top-gray {
    color: var(--gmarket-dark-gray);
}

#top-text-menu-container {
    display: flex;
    margin-left: 340px;
    align-items: center;
}

#top-text-menu-container > a {
    font-size: 14px;
    margin-left: 7px;
    margin-right: 7px;
    font-family: -apple-system, "NotoSansRegular";

    text-decoration: none;
}

.text-menu-divide-line {
    width: 0px;
    height: 10px;
    border: 0.8px solid var(--gmarket-white-gray)
}

#top-text-menu-container > img {
    width: 8px;
    height: 8px;
}

#banner-ad-container {
    margin-top: -21px;
}

#banner-menu-container {
    width: 179px;
    background-color: var(--gmarket-green);
}

li {
    font-family: -apple-system, "NotoSansRegular";
}

ul {
    list-style: none;
}

#banner-menu-container > li {
    color: var(--gmarket-white);
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    font-size: 14px;
    margin-left: -20px;
}

.banner-bottom-line {
    width: 222.5px;
    margin-left: -40px;
    height: 0px;
    margin-top: -1.5px;
    border-bottom: 0.1px solid var(--gmarket-white);
}

#now-hottest-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.section-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.goto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.goto-container > p {
    font-family: -apple-system, "NotoSansRegular";
    color: var(--gmarket-dark-gray);
    font-size: 15px;
}

.goto-container > img {
    margin-left: 6px;
    width: 18px;
    height: 18px;
}

#product-section {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.left-button-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: var(--gmarket-white);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    left: -20px
}

.left-button-container > img {
    width: 16px;
    height: 16px;
}

.right-button-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: var(--gmarket-white);
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 90px;
    right: -20px;
}

.right-button-container > img {
    width: 16px;
    height: 16px;
}

.hottest-product-number {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: var(--gmarket-green);
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gmarket-dark-green);
    position: absolute;
}

.hottest-product-number > p {
    font-family: "GmarketSansBold";
    font-size: 18px;
    color: var(--gmarket-white);
}

.hottest-product {
    width: 220px;
    position: relative;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hottest-product:first-child {
    margin-left: 0px;
}

.hottest-product-image-container {
    width: 220px;
    height: 220px;
    border-radius: 120px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.hottest-product-image-container > img {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.product-info-container { 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 18px;
}

.product-info {
    font-family: -apple-system, "NotoSansRegular";
    font-size: 14px;
}

.product-price {
    font-family: "GmarketSansBold";
    font-size: 16px;
}

#gmarket-smile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#gmarket-shopping-container {
    display: flex;
    flex: 1;
    margin-right: 20px;
    flex-direction: column;
}

#smile-delivery-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
}

#shopping-info-container { 
    width: calc(100% - 20px);
    height: 300px;
    border-radius: 10px;
    background-color: var(--gmarket-red);
}

#smile-info-container { 
    width: calc(100% - 15px);
    height: 300px;
    border-radius: 10px;
    background-color: var(--gmarket-blue);
}

#shopping-info-header {
    background-color: var(--gmarket-dark-red);
}

#smile-info-header {
    background-color: var(--gmarket-dark-blue);
}

#shopping-info-header, #smile-info-header {
    width: 100%;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#shopping-info-contents, #smile-info-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopping-info-header > p, #smile-info-header > p {
    font-family: "GmarketSansMedium";
    font-size: 14px;
    color: var(--gmarket-white);
}

.shopping-left {
    margin-left: 20px;
    width: 30px;
    object-fit: cover;
}

.shopping-right {
    margin-right: 20px;
    width: 30px;
    object-fit: cover;
}

#shopping-info-msg > p, #smile-info-msg > p {
    font-family: "GmarketSansMedium";
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#shopping-info-contents, #smile-info-contents {
    display: flex;
    flex-direction: row;
    height: 250px;
}

#shopping-info-img, #smile-info-img { 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shopping-img-container, #smile-img-container { 
    width: 180px;
    height: 180px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#shopping-img-container > img, #smile-img-container > img {
    width: 180px;
    height: 180px;
}

#shopping-info-msg, #smile-info-msg { 
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

#homeplus-msg {
    font-size: 20px;
    color: var(--gmarket-white);
}

#main-msg, #smile-main-msg {
    font-size: 28px;
    color: var(--gmarket-white);
}

#msg-detail, #smile-msg-detail {
    color: var(--gmarket-white-gray);
}

#shopping-detail-header, #smile-detail-header {
    margin-top: 20px;
    border-bottom : 0.1px solid var(--gmarket-white-gray);
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#shopping-detail-header > img {
    width: 130px;
    object-fit: cover;
}

.shopping-detail-parser {
    width: 0px;
    height: 15px;
    border: 0.1px solid var(--gmarket-white-gray);
}

#shopping-detail-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shopping-detail {
    width: calc(50% - 20px);
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.shopping-detail > img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid var(--gmarket-white-gray);
}

.shopping-detail-info {
    margin-left: 20px;
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mint-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    background-color: var(--gmarket-mint);
}

.mint-box > p, .orange-box > p, .yellow-box > p, .blue-box > p{ 
    font-family: "NotoSansRegular";
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--gmarket-white);
    margin: 2px;
    
}

.orange-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    background-color: var(--gmarket-orange);
}

.yellow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: var(--gmarket-yellow);
}

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    background-color: var(--gmarket-blue);
}

.shopping-detail-info > p {
    margin: 0px;
    margin-top: 5px;
}

.shopping-detail-title {
    font-size: 14px;    
    font-family: "NotoSansRegular";
}

.shppoing-detail-price {
    font-size: 18px;
    font-family: "GmarketSansBold";
}

#goto-homeplus, #goto-show-more {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border: 0.5px solid var(--gmarket-white-gray);
    width: calc(100%);
    height: 55px;
    border-radius: 30px;
    background-color: rgb(250, 250, 250);
}

.smile-header-p { 
    font-family: "NotoSansRegular";
    font-size: 16px;
    margin: 9px;
    line-height: 16px;
    text-align: center;
}

.smile-header-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

#smile-header-title1 { 
    color: var(--gmarket-dark-gray);
}

#smile-header-title2 {
    font-family: "GmarketSansBold";
    color: var(--gmarket-white);
}

.smile-header-el-background {
    background-color: var(--gmarket-navy);
    width: 140px;
    height: 40px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gmarket-service-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#gmarket-service-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: -40px;
}

#gmarket-service-list > li {
    margin: 0px;
}

#gmarket-service-list > li > p {
    font-family: "NotoSansRegular";
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    margin-top: 5px;
}

#gmarket-service-list > li > img {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

#home-shopping-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top : 55px;
}

#home-shopping-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home-shopping-header > img {
    margin-left: 12px;
    margin-top: -6px;
    height: 28px;
    object-fit: cover;
}

#home-shopping-contents-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.home-shopping-cotents {
    width: calc(33.3% - 40px);
}

.home-shopping-cotents:nth-child(1) {
    margin-right: 20px;
}

.home-shopping-cotents:nth-child(2) {
    margin-right: 20px;
}

.home-shopping-picture-info {
    position: relative;
}

.live-info{
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.triangle-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.live-info > p {
    color: var(--gmarket-white);
    font-family: "GmarketSansMedium";
    font-size: 12px;
}

.live-btn {
    width: 45px;
    object-fit: cover;
    margin-right: 15px;
}

.homeshopping-background {
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: cover;
}

.progress-bar {
    width: 100%;
    height: 4px;
    margin-top: -4px;
    background-color: var(--gmarket-dark-gray);
}

#progress-60 {
    width: 60%;
    height: 4px;
    background-color: var(--gmarket-green);
}

.homeshopping-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.homeshopping-text-info {
    width: calc(60%-30px);
    margin-right: 30px;
    margin-top: 0px;
}

.hs-text-title {
    font-family: "NotoSansRegular";
    font-size: 18px;
    margin-top: 0px;
}

.hs-text-price {
    font-family: "GmarketSansBold";
    font-size: 20px;
}

.homeshopping-image-info {
    width: calc(40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeshopping-subject-title {
    font-family: "NotoSansRegular";
    color: var(--gmarket-dark-gray);
    font-size: 12px;
    margin-top: 6px;
}

#super-deal-container {
    display: flex;
    align-items: center;
    margin-top: 70px;
    flex-direction: column;
}

#super-deal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#super-deal-back{
    position: absolute;
    left: 0;
    width: calc(100vw - 17px);
    height: 250px;
    margin-top: 20px;
    background-color: var(--gmarket-yellow);
    z-index: -1;
}

#super-deal-title {
    height: 55px;
    object-fit: cover;
    margin-left: 15px;
}

#super-deal-show-more-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#super-deal-show-more-btn > p {
    font-family: "NotoSansRegular";
    font-size: 14px;
    color: var(--gmarket-dark-gray);
    margin-right: 7px;
}

#super-deal-arrow {
    height: 20px;
    object-fit: cover;
}

#super-deal-contents-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.super-deal-contents {
    width: calc(33% - 20px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}

.super-deal-ad > img {
    border-radius: 5px;
}

.super-deal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 5px;
    border: 1px solid var(--gmarket-white-gray);
}

.super-deal-image-container > img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.heart-btn-container {
    position: absolute;
    right: 10px;
    bottom: -30px;
    background-color: var(--gmarket-white);
    border-radius: 30px;
}

.super-deal-contents-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.super-deal-percent {
    font-family: "GmarketSansMedium";
    font-size: 20px;
    color: var(--gmarket-blue);
}

.super-deal-month {
    font-family: "GmarketSansMedium";
    font-size: 20px;
    color: var(--gmarket-black);
}

.super-deal-price {
    margin-left: 8px;
    font-family: "GmarketSansBold";
    font-size: 20px;
    color: var(--gmarket-black);
}

.super-deal-content-p {
    margin: 0px;
    font-family: "GmarketSansMedium";
    font-size: 14px;
    color: var(--gmarket-black);
    width: 100%;
}

.super-deal-buyer-num {
    font-family: "GmarketSansMedium";
    font-size: 11px;
    color: var(--gmarket-dark-gray);
}

.super-deal-seller-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
}

.super-deal-seller {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;

    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--gmarket-white-gray);
}

.super-deal-seller > img {
    width: 26px;
    height: 26px;
    margin-left: 8px;
}

.super-deal-seller > p {
    margin: 0px;
    font-family: "NotoSansRegular";
    font-size: 12px;
    line-height: 12px;
    margin-left: 8px;
    margin-right: 16px;
    color: var(--gmarket-dark-gray);
}

.super-deal-buyer-container {
    display: flex;
    flex-direction: row;
}

.super-deal-lend-day {
    font-family: "GmarketSansMedium";
    font-size: 11px;
    color: var(--gmarket-blue);
    margin-right: 5px;

}

.super-deal-lend-p {
    font-family: "GmarketSansMedium";
    font-size: 11px;
    color: var(--gmarket-black);
    margin-right: 5px;
}

#super-deal-all-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#super-deal-all-btn {
    width: 400px;
    height: 50px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gmarket-white-gray);
    background-color: #f3f3f3;
}

#super-deal-all-btn > p {
    font-family: "NotoSansRegular";
    font-size: 15px;
}

#super-deal-all-btn > img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

#oversea-shopping-back {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 550px;
    left: 0;
    background-color: #f3f3f3;
    z-index: -1;
}

#oversea-shopping-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
}

#oversea-shopping-contents-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 400px;
}

#oversea-shopping-contents-container > img{
    border-radius: 5px;
}

#oversea-shopping-contents {
    border-radius: 5px;
    width: 100%;
    height: 400px;
    border: 1px solid var(--gmarket-white-gray);
    background-color: var(--gmarket-white);
}

#oversea-shopping-contents-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#oversea-shopping-contents-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#oversae-shopping-subtitle {
    margin: 0px;
    margin-top: 45px;
    font-size: 14px;
    font-family: "GmarketSansMedium";
    color: var(--gmarket-dark-gray);
}

#oversae-shopping-title {
    margin: 0px;
    margin-top: 15px;
    font-size: 30px;
    font-family: "GmarketSansLight";
}

.oversea-product-name {
    margin: 0px;
    margin-top: 18px;
    font-size: 14px;
    font-family: "NotoSansRegular";
}

.oversea-content-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    height: 18px;
}

.oversea-content-price-p {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    font-family: "GmarketSansBold";
}

.oversea-content-won-p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-family: "NotoSansRegular";
}

#trend-life-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

#trend-life-contents-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 325px;
}

#trend-life-image-info {
    position: relative;
    width: 40%;
}

#trend-life-contents-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: cover;
}

#trend-life-image-back {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

#trend-life-contents-product-container {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 60%;
    height: 100%;
}

#tl-g9 {
    margin-left: 60px;
    margin-top: 50px;
    width: 70px;
    height: 70px;
}

#trend-life-image-back > p{
    color: var(--gmarket-white);
}

.tl-text-title {
    margin: 0px;
    margin-left: 60px;
    font-family: "GmarketSansBold";
    font-size: 32px;
}

.tl-title-margin {
    margin-top: 50px;
}

#tl-text-info {
    margin-left: 60px;
    margin-top: 30px;
    font-size: 16px;
    font-family: "NotoSansRegular";
}

.trend-life-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(33% - 30px);
}

.tls-product-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.trend-life-content > img {
    width: 195px;
    height: 195px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.tls-product-name, .tls-product-won {
    font-family: "NotoSansRegular";
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.tls-product-price {
    font-family: "GmarketSansBold";
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

#today-power-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#power-contents-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.power-content {
    width: calc(20% - 20px);
}

.power-content > img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid var(--gmarket-white-gray);
}

.power-product-name-container {
    height: 20px;
}

.power-product-name-container > p {
    font-family: "NotoSansRegular";
    font-size: 14px;
    margin: 0px;
    margin-top: 14px;
}

.power-product-price-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 14px;
}

.power-prouct-price {
    font-family: "GmarketSansBold";
    line-height: 24px;
    font-size: 24px;
}

.power-prouct-won {
    font-family: "NotoSansRegular";
    font-size: 14px;
    line-height: 14px;
}




#mini-chance-container { 
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#power-mini-container {
    flex: 2;
    margin-right: 20px;
}

#power-mini-header, #chance-header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;
}

.ad-btn {
    width: 20px;
    height: 14px;
    background-color: #eee;
    border: 0.1px solid var(--gmarket-white-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-btn > p {
    line-height: 4px;
    font-size: 4px;
    text-align: center;
    font-family: "NotoSansRegualr";
    color: #ccc
}

#power-mini-container > img {
    width: 100%;
    height: 360px;
    border-radius: 5px;
}

#chance-container {
    flex: 3;
    margin-left: 30px;
}

.chance-lr {
    top: 50%;
}

#chance-contents { 
    position: relative;
    width: 100%;
    height: 360px;
    border-radius: 5px;
    border: 1px solid var(--gmarket-white-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chance-content {
    width: 165px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chance-content > img {
    width: 165px;
    height: 165px;
    border-radius: 5px;
    border: 1px solid var(--gmarket-white-gray);
}

.chance-title {
    font-family: "GmarketSansMedium";
    text-align: center;
    line-height: 14px;
    font-size: 14px;
    margin: 0px;
    margin-top: 20px;
}
.chance-price {
    font-family: "GmarketSansBold";
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    margin: 0px;
    margin-top: 20px;
}


#notice-container {
    margin-top: 40px;
    height: 40px;
}

#notice-p-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#notice-p-container > p {
    margin-right: 8px;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}

#notice-header {
    color: #777;
    font-family: "NotoSansBold";
}
#notice-slash, #notice-contents, #notice-date {
    font-family: -apple-system, "NotoSansRegular";
    color: #777;
}

#notice-br {
    width: 0px;
    height: 16px;
    border: 0.1px solid var(--gmarket-white-gray);
    margin-right: 16px;
}

#font-download-container {
    margin-top: 40px;
}

#font-download-container > img {
    width: 100%;
    object-fit: cover;
}

#font-download-container > div {
    position: absolute;
    left: 0;
    width: calc(100vw - 17px);
    height: 62px;
    z-index: -1;
    background-color: var(--gmarket-green);
}

#footer-back {
    position: absolute;
    width: calc(100vw - 17px);
    height: 450px;
    background-color: #eee;
    z-index: -1;
    left: 0;
    margin-top: -3px;
}

#footer-nav {
    display: flex;
    width: 1160px;
    margin-top: 4px;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-bottom: 0.5px solid var(--gmarket-white-gray);
}

#footer-nav-list {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

#footer-nav-list > li {
    font-size: 14px;
    margin-right: 16px;
    color: var(--gmarket-dark-gray);
}

.bold-li {
    font-family: "NotoSansBold";
    font-size: 14px;
    line-height: 14px;
}

#footer-nav-list > li > a {
    color: var(--gmarket-dark-gray);
    text-decoration:  none;
}
#footer-nav-list > li > a:visited{
    color: var(--gmarket-dark-gray);
    text-decoration:  none;
}

.footer-line-br {
    width: 0;
    height: 16px;
    margin-right: 16px;
    border: 0.1px solid var(--gmarket-white-gray)
}

.seller-service-btn {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--gmarket-white);
    border-style: none;
    border: 0.5px solid var(--gmarket-white-gray);
    width: 130px;
    height: 40px;
    border-radius: 4px;
}

.seller-service-btn > p {
    font-size: 14px;
    color: var(--gmarket-dark-gray);
    font-family: -apple-system, "NotoSansRegular";
}

.seller-service-btn > img {
    width: 10px;
    margin-left: 10px;
    object-fit: cover;
}

#ebay-info { 
    flex: 1;
}

#info-container {
    display: flex;
    flex-direction: row;
    width: 1160px;
    margin-bottom: 30px;
    border-bottom: 0.5px solid var(--gmarket-white-gray);
}

.footer-plain-p{
    font-size: 12px;
    color: var(--gmarket-dark-gray);
    font-family: -apple-system, "NotoSansRegular";
}

.footer-bold {
    font-size: 14px;
    color: #777;
    font-family: "NotoSansBold";
}

#footer-com-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12px;
}

#footer-com-btn > button {
    border-style: none;
    border: 0.5px solid var(--gmarket-white-gray);
    background-color: var(--gmarket-white);

    width: 92px;
    height: 18px;
    border-radius: 1.8px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

#footer-com-btn > button > p {
    font-size: 10px;
}

#footer-com-btn > button > img {
    margin-left: 6px;
    width: 5px;
    object-fit: cover;
}

#customer-center { 
    flex: 1;
}

#customer-center-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12px;
    margin-top: 16px;
}

#customer-center-header > img {
    margin-left: 10px;
    width: 6px;
    object-fit: cover;
}

#tel-info{ 
    display: flex;
    flex-direction: row;
    margin-top: -14px;
    margin-bottom: 26px;
    height: 12px;
}
#tel-left, #tel-right {
    display: flex;
    flex-direction: row;
    height: 12px;
}

.phone-p {
    font-size: 12px;
    color: var(--gmarket-blue);
    font-family: -apple-system, "NotoSansRegular";
}
#report-system-container {
    width: 1160px;
    border-bottom: 0.5px solid var(--gmarket-white-gray);
}

#report-system-container > ul{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

#report-system-container > ul > li{
    display: flex;
    flex-direction: row;
    height: 12px;
    align-items: center;
    margin-right: 30px;
}

#report-system-container > ul > li > p{
    font-size: 12px;
    color: var(--gmarket-dark-gray);
    font-family: -apple-system, "NotoSansRegular";
}

.elec-info {
    margin-right: 8px;
}

#report-system-container > ul > li > img{
    margin-left: 4px;
    margin-right: 8px;
    width: 6px;
    object-fit: cover;
}

#warning-msg { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

#warning-msg > p, #warning-msg > a {
    font-size: 12px;
    color: var(--gmarket-dark-gray);
    font-family: -apple-system, "NotoSansRegular";
    margin-right: 12px;
}

#warning-msg > a:visited {
    font-size: 14px;
    color: var(--gmarket-dark-gray);
}

.footer-black-p {
    color: var(--gmarket-dark-black);
    line-height: 12px;
    margin-top: -2px;
    font-size: 12px;
    font-family: -apple-system, "NotoSansRegular";
}

#footer-from-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 12px;
}

#footer-from-container > img {
    object-fit: cover;
    margin-right: 10px;
}

#KOLSA-logo {
    height: 12px;
}
#prize-show-btn {
    height: 8px;
}

#footer-from-container > a {
    color: var(--gmarket-dark-gray);
    font-size: 12px;
    font-family: -apple-system, "NotoSansRegular";
    margin-left: 10px;
    margin-right: 10px;
}

#footer-from-container > a:visited {
    color: var(--gmarket-dark-gray);
}
